# Computational Setup and Database Interaction

First clone the `nbhd_analysis` repository: `git clone https://github.com/peterprescott/nbhd_analysis`

You'll need [Docker]() installed, and `docker-compose` (which you can get just by `pip install docker-compose`). Then:
```
cd nbhd_analysis/docker
sh build.sh
docker-compose up
```
and Docker should spin up two containers for you:
- one exposing a Jupyter Lab interface at `localhost:8888`
- and one exposing a PostGis database at `localhost:5432`

If you've built the Docker image from the `nbhd_analysis/docker/Dockerfile` by running `build.sh` as above, then you'll have my `nbhd` package already installed. Otherwise go ahead and do that...

In [1]:
try:
    from nbhd import data
    print('`nbhd` package already installed!')
except Exception as e:
    print(e)
    print('... `nbhd` package not yet installed; trying to install it now...')
    ! pip install git+https://github.com/peterprescott/nbhd
    from nbhd import data

`nbhd` package already installed!

It includes a `data` module to make interacting with our PostGis database as painless as possible. Start by initiating a database connection with the `Base()` class...

In [2]:
db = data.Base()

Initializing database connection...
Database connected!

And now we can see what tables are already on our database...

In [3]:
db.ls()

['spatial_ref_sys']

... as well as some information about them.

In [4]:
db.info('spatial_ref_sys')

      Column                 Datatype
0       srid                  integer
1  auth_name   character varying(256)
2  auth_srid                  integer
3     srtext  character varying(2048)
4  proj4text  character varying(2048)

Of course we can also use whatever SQL we like:

In [5]:
sql = 'SELECT * FROM spatial_ref_sys'
response = db.query(sql)

In [6]:
response

,srid,auth_name,auth_srid,srtext,proj4text
0,3819,EPSG,3819,"GEOGCS[""HD1909"",DATUM[""Hungarian_Datum_1909"",S...","+proj=longlat +ellps=bessel +towgs84=595.48,12..."
1,3821,EPSG,3821,"GEOGCS[""TWD67"",DATUM[""Taiwan_Datum_1967"",SPHER...",+proj=longlat +ellps=aust_SA +no_defs
2,3824,EPSG,3824,"GEOGCS[""TWD97"",DATUM[""Taiwan_Datum_1997"",SPHER...","+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,..."
3,3889,EPSG,3889,"GEOGCS[""IGRS"",DATUM[""Iraqi_Geospatial_Referenc...","+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,..."
4,3906,EPSG,3906,"GEOGCS[""MGI 1901"",DATUM[""MGI_1901"",SPHEROID[""B...","+proj=longlat +ellps=bessel +towgs84=682,-203,..."
...,...,...,...,...,...
8495,103967,ESRI,103967,"PROJCS[""NAD_1983_HARN_Adj_WI_Vilas_Feet (depre...",+proj=lcc +lat_0=45.625 +lon_0=-89.48888888888...
8496,103968,ESRI,103968,"PROJCS[""NAD_1983_HARN_Adj_WI_Walworth_Feet (de...",+proj=lcc +lat_0=41.6694444444444 +lon_0=-88.5...
8497,103969,ESRI,103969,"PROJCS[""NAD_1983_HARN_Adj_WI_Washburn_Feet (de...",+proj=lcc +lat_0=44.2666666666667 +lon_0=-91.7...
8498,103970,ESRI,103970,"PROJCS[""NAD_1983_HARN_Adj_WI_Waushara_Feet (de...",+proj=lcc +lat_0=43.7083333333333 +lon_0=-89.2...
8499,103971,ESRI,103971,"PROJCS[""NAD_1983_HARN_Adj_WI_Wood_Feet (deprec...",+proj=lcc +lat_0=43.1513888888889 +lon_0=-90 +...