# What is the difference between OS OpenRoads and OS OpenMapLocal Road layer?

Let's investigate...

In [1]:
from nbhd import data

In [2]:
db = data.Base()

Initializing database connection...
Database connected!

In [3]:
db.info('roads').T

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Column,id,endNode,startNode,roadNumberTOID,roadNameTOID,fictitious,roadClassification,road_function,formOfWay,length,...,loop,primaryRoute,trunkRoad,roadClassificationNumber,name1,name1_lang,name2,name2_lang,roadStructure,geometry
Datatype,text,text,text,text,text,boolean,text,text,text,bigint,...,boolean,boolean,boolean,text,text,text,text,text,text,"geometry(LineString,27700)"

In [4]:
db.info('road').T

,0,1,2,3,4,5,6,7
Column,id,distinctiveName,roadNumber,classification,drawLevel,override,featureCode,geometry
Datatype,text,text,text,text,bigint,text,bigint,"geometry(LineString,27700)"

In [5]:
db.count('roads')

     count
0  3760939

In [6]:
db.count('road')

     count
0  3547350

In [7]:
road_class = db.count('road', 'classification')

In [8]:
road_class.sort_values('counts').T

,Guided Busway Carriageway,Shared Use Carriageway,"B Road, Collapsed Dual Carriageway",Motorway,"Minor Road, Collapsed Dual Carriageway","Motorway, Collapsed Dual Carriageway","A Road, Collapsed Dual Carriageway","Primary Road, Collapsed Dual Carriageway",Local Access Road,Primary Road,B Road,A Road,Minor Road,Restricted Local Access Road,Local Road
counts,169,3158,4060,5457,6268,7020,17437,27094,42514,83024,152971,163227,659182,802407,1573362

In [9]:
road_class.sum()

counts    3547350
dtype: int64

In [10]:
roads_functions = db.count('roads', 'road_function')

In [11]:
roads_functions.sort_values('counts').T

,Motorway,Local Access Road,Secondary Access Road,B Road,A Road,Minor Road,Restricted Local Access Road,Local Road
counts,7124,45307,133522,159415,285536,676167,803087,1650781

In [12]:
roads_functions.sum()

counts    3760939
dtype: int64