In [1]:
# figure of face-blocks in a connected neighbourhood

In [ ]:
# table of relevant statistics

In [1]:
from nbhd import data

In [2]:
db = data.Base()

Initializing database connection...
Database connected!

In [3]:
db.ls()

['spatial_ref_sys',
 'nodes',
 'buildings',
 'roads',
 'properties',
 'carchargingpoint',
 'importantbuilding',
 'namedplace',
 'road',
 'foreshore',
 'functionalsite',
 'surfacewater_line',
 'surfacewater_area',
 'tidalwater',
 'tidalboundary',
 'woodland',
 'glasshouse',
 'electricitytransmissionline',
 'railwaystation',
 'railwaytrack',
 'railwaytunnel',
 'roadtunnel',
 'roundabout',
 'motorwayjunction',
 'names',
 'rivers',
 'green',
 'coast',
 'waterlines',
 'local_buildings',
 'boundary_line_ceremonial_counties',
 'boundary_line_historic_counties',
 'community_ward',
 'country_region',
 'county',
 'county_electoral_division',
 'district_borough_unitary',
 'district_borough_unitary_ward',
 'english_region',
 'greater_london_const',
 'high_water',
 'historic_european_region',
 'parish',
 'polling_districts_england',
 'scotland_and_wales_const',
 'scotland_and_wales_region',
 'unitary_electoral_division',
 'westminster_const',
 'isles',
 'tiles1',
 'tiles3',
 'tiles4',
 'tiles2',
 'pixels',
 'communities',
 'faceblocks',
 'connected']

In [19]:
rds = db.query("SELECT * FROM roads WHERE name1 LIKE 'Sutton Street'", True)

In [6]:
rds.columns

Index(['id', 'endNode', 'startNode', 'roadNumberTOID', 'roadNameTOID',
       'fictitious', 'roadClassification', 'road_function', 'formOfWay',
       'length', 'length_uom', 'loop', 'primaryRoute', 'trunkRoad',
       'roadClassificationNumber', 'name1', 'name1_lang', 'name2',
       'name2_lang', 'roadStructure', 'geometry'],
      dtype='object')

In [26]:
comms = db.query("SELECT * FROM communities LIMIT 10")

In [27]:
comms

                                 roads_id  community
0  idD9F28645-8E24-444C-ACD9-A4CE8AF56C2A  175209_01
1  id55ED1C79-21A9-4D48-8C51-71209291A463  201763_01
2  idAFBA58DC-5E4A-4FE9-BB09-3660650E3C62  201763_02
3  id372D0E2B-0495-4C9C-B040-05EF99582A46  201763_02
4  idAB5C49F8-8BFE-4B5A-9221-DBD9084429D5  201763_03
5  id9E767AA6-19BF-4B2D-875D-129A4B553EBA  201763_01
6  id5688D3DC-2B8B-4CDD-8FB2-CFDA892EA830  201763_04
7  id8A6A6E73-A84C-4C2E-AA06-A0EEE4F12224  201763_04
8  idD6D3B364-648D-4F78-94D9-E3283C129875  201763_05
9  id745866D7-7816-4075-95E4-CD8708D573A6  201763_02

In [46]:
names = db.query('SELECT * FROM names WHERE "NAME1" LIKE \'L13 7EQ\'', True)

In [49]:
names

,ID,NAMES_URI,NAME1,NAME1_LANG,NAME2,NAME2_LANG,TYPE,LOCAL_TYPE,MOST_DETAIL_VIEW_RES,LEAST_DETAIL_VIEW_RES,...,COUNTY_UNITARY_URI,COUNTY_UNITARY_TYPE,REGION,REGION_URI,COUNTRY,COUNTRY_URI,RELATED_SPATIAL_OBJECT,SAME_AS_DBPEDIA,SAME_AS_GEONAMES,geometry
0,L137EQ,http://data.ordnancesurvey.co.uk/id/postcodeun...,L13 7EQ,None,None,None,other,Postcode,3500,18000,...,None,None,North West,http://data.ordnancesurvey.co.uk/id/7000000000...,England,http://data.ordnancesurvey.co.uk/id/country/en...,None,None,None,POINT (338286.000 392077.000)